@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Syne:wght@400..800&display=swap');
html{
    font-size: 10vw;
}
body {
    padding: 0;
    margin: 0;
    font-family: "Syne", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

:root {
    --primary-text-color: rgba(25, 194, 217, 1);
    --secondary-text-color: white;
    --tertiary-text-color: black;
    --accent-color: #2294ed;
    --button-hovering-color: rgb(51, 50, 50);
}

.gradient-to-top {
    background: linear-gradient(180deg, #252525 0%, #000000 100%);
}


a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.container {
    overflow: hidden;
}

#header {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    background: linear-gradient(180deg, #252525 0%, #222222 100%);
    position: fixed;
    z-index: 10;
    height: 0.5rem;
    /* padding: 0 1rem 0 0.5rem; */
    box-shadow: 1px salmon;
}
.innerHeader{
    width: 80%;
    display: flex;
    margin: 0px auto 0px auto;
}

#logo {
    width: 14%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.links{
    width: 86%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#nav-links {
    width: 81%;
}
#header-properties {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    justify-content: space-between; 
}

#header-properties li {
    font-size: 0.1rem;
}

.firstpage-button {
    width: 19%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.navbarToggleContainer{
    display: none;
} 

.hover-link {
    color: var(--secondary-text-color);
    transition: 0.2s ease-out;
    font-size: 0.115rem;
}

.hover-link:hover {
    color: var(--accent-color);
    font-size: 0.12rem;
}

.hover-link-home {
    color: var(--primary-text-color);
    transition: 0.2s ease-out;
    font-size: 0.115rem;
}

.hover-link-home:hover {
    color: var(--accent-color);
    font-size: 0.12rem;
}

#header-image {
    width: 0.8rem;
    height: auto;
}

.primaryButton {
    background: linear-gradient(180deg, #00D4F1 0%, #00CFEB 0.01%, #5AEBFF 51%, #00B6CF 100%);
    font-size: 0.11rem;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "slnt" 0;
    height: 0.3rem;
    width: 1rem;
    text-align: center;
    border: 1px solid #b8f3fb;
    border-radius: 0.04rem;
    padding-left: 0.1rem;
    position: relative;
    cursor: pointer;
    outline: none;
    overflow: hidden;
    padding: 0px auto 0px auto;
}

.agencyLogin{
    padding-left: 0.07rem;
}
.primaryButton:hover{
    background: rgb(8, 172, 222);
}


.hoverPrimaryButtonText {
    color: var(--tertiary-text-color);
    transition: 0.2s ease-out;
}

.hoverPrimaryButtonText:hover {
    font-size: 0.1125rem;
}

  
  .primaryButton::before {
    content: '';
    position: absolute;
    top: 0;
    left: -20%;
    width: 10%;
    height: 100%;
    background-color: whitesmoke;
    transform: skewX(-25deg);
    transition: all 0.7s cubic-bezier(0.19, 1, 0.22, 1);
  }
  
  .primaryButton:hover::before {
    left: 110%;
  }
  #homePageContent{
    padding-top: 0.9rem;
  }

h1 {
    font-size: 0.7rem;
    padding: 0px;
    margin: 0px;
    line-height: 1.1;
}

#makesyou {
    text-align: center;
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

#viral {
    text-align: center;
    background: linear-gradient(to bottom, var(--primary-text-color), whitesmoke);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 0.85rem;
}

.syne-heading-font {
    font-family: "Syne", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

#about {
    display: flex;
    width: 64.7%;
    margin-bottom: 0.5rem;
}

#about-left {
    width:53%;
    padding: 0.46rem 0rem 0rem 0.3rem;
}

#about-para {
    color: white;
    text-align: center;
    font-size: 0.155rem;
    margin: 0px auto -0.55rem auto;
    line-height: 1.2;
}

#about-button {
    text-align: center;
}

#about-right {
    display: flex;
    align-items: flex-start;
    text-align: left;
    width: 47%;
    margin-top: -0.3rem;
}

#about-image {
    max-width: 100%;
    width: 79vw;
    height: auto;
}

@keyframes slide {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }


.sponsors-container {
    overflow: hidden;
    white-space: nowrap;
  }
  .sponsors-slide{
    display: inline-block;
    animation: 20s slide infinite linear;
  }

  .sponsors-slide img{
    width: 1rem; 
    height: 0.35rem;
    margin-right: 0.4rem;
    margin-top: 0rem;
  }
  .sponsors-container:hover .sponsors-slide {
    animation-play-state: paused;
  }
  
.gradient-to-bottom {
    background: linear-gradient(180deg, #000000 0% ,#252525 100%);
    height: auto;
    padding-top: 0.4rem;
}

h2 {
    font-size: 0.6rem;
    background: linear-gradient(92.27deg, #00EDFF 0%, #fbffff 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

#brand {
    display: flex;
    width: 88%;
    margin: 0px auto 0px auto;
    padding: 0.8rem 0px 1.2rem 0px;
}

.left-brand {
    position: relative;
    height: 3.8rem;
    width: 60%;
    margin-left: 0;
}

.right-brand {
    height: 3.6rem;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.left-brand:hover{
    .setup {
        height: 1.27rem;
        width: 1.85rem;
    }
    .scenery {
        height: 2.55rem;
        width: 3.4rem;
    }
    .model1 {
        height: 1.27rem;
        width: 1.85rem;
    }
    .model2 {
        height: 1.27rem;
        width: 1.85rem;
    }
    .containersetup{
        top: 1.27rem;
    }
    .containerscenery {
        left: 0.6rem;
        top: 0.56rem;
    }
    
}

.containersetup {
    position: absolute;
    left: 0px;
    top: 1.23rem;
    z-index: 1;
    margin-left: 0;
    background: linear-gradient(to bottom, #15dfed, rgb(174, 232, 234));
    border-radius: 0.07rem;
    padding: 2px 2px 2px 2px;
    display: inline-flex;
}

.setup {
    height: 1.353rem;
    width: 1.94rem;
    border-radius: 0.07rem;
}

.containerscenery {
    position: absolute;
    left: 0.72rem;
    top: 0.722rem;
    background: linear-gradient(to bottom, #15dfed, rgb(174, 232, 234));
    border-radius: 0.07rem;
    padding: 1.5px 1.8px 1.8px 1.8px;
    display: inline-flex;
}

.scenery {
    height: 2.35rem;
    width: 3.1rem;
    border-radius: 0.07rem;
}

.containermodel1 {
    position: absolute;
    top: 0.375rem;
    right: 0.28rem;
    margin-right: 0px;
    padding-right: 0px;
    background: linear-gradient(to bottom, #15dfed, rgb(174, 232, 234));
    border-radius: 0.07rem;
    padding: 1.5px 1.5px 1.5px 1.5px;
    display: inline-flex;
}

.model1 {
    height: 1.353rem;
    width: 1.94rem;
    border-radius: 0.07rem;
}

.containermodel2 {
    position: absolute;
    top: 2.035rem;
    right: 0.28rem;
    background: linear-gradient(to bottom, #15dfed, rgb(174, 232, 234));
    border-radius: 0.07rem;

    padding: 1.5px 1.5px 1.5px 1.5px;
    display: inline-flex;
}

.model2 {
    height: 1.353rem;
    width: 1.94rem;
    border-radius: 0.07rem;
}

.brand-para {
    padding: 0px;
    margin: 0.2rem 0rem 0.2rem 0rem;
}

#brand-p {
    color: azure;
    font-size: 0.14rem;
}

#brand-buttons {
    display: flex;
}

.moreDetailsButton {
    font-size: 0.11rem;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "slnt" 0;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 0.04rem;
    height: 0.3rem;
    width: 1rem;
    margin-left: 0.3rem;
    text-align: center;
    cursor: pointer;
    outline: none;
    overflow: hidden;
}
.moreDetailsButton:hover{
    background: linear-gradient(180deg, #00D4F1 0%, #00CFEB 0.01%, #5AEBFF 51%, #00B6CF 100%);
}

.hoverMoreDetailsButtonText {
    color: var(--secondary-text-color);
    transition: 0.2s ease-out;
}

.hoverMoreDetailsButtonText:hover {
    font-size: 0.1125rem;
}

.primaryButton {
    text-decoration: none;
}

h4 {
    font-size: 0.55rem;
    background: linear-gradient(90deg, #15dfed, #000000);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    background-size: 100% 100%;
}
.influencersGradient{
    background-size: 70% 70%;
}

.moreDetailsBlackButton {
    font-size: 0.11rem;
    border: 1px solid black;
    border-radius: 4px;
    height: 0.3rem;
    width: 1rem;
    margin-left: 40px;
    text-align: center;
    cursor: pointer;
    outline: none;
    overflow: hidden;
}
.moreDetailsBlackButton:hover{
    background: linear-gradient(180deg, #00D4F1 0%, #00CFEB 0.01%, #5AEBFF 51%, #00B6CF 100%);
}

.hoverMoreDetailsBlackButtonText {
    color: var(--tertiary-text-color);
    transition: 0.2s ease-out;
}

.hoverMoreDetailsBlackButtonText:hover {
    font-size: 0.1125rem;
}

#third-page {
    margin-top: 0.3rem;
    margin-bottom: 0.9rem;
}

#influencers {
    display: flex;
    margin: 0px auto 1.1rem auto;
    width: 83%;
    padding-top: 0.9rem;
}

.left-influencers {
    width: 60%;
    text-align: left;
    margin: 0.68rem 0px auto 0px;
}

.right-influencers {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

#influencers-para {
    padding: 0px 0.25rem 0px 0px;
    font-size: 0.14rem;
    margin: 0.18rem 0rem 0.2rem 0rem;
    line-height: 1.2;
}

#influencers-buttons {
    display: flex;
}

.phone-image {
    height: 3.3rem;
    width: 3.18rem;
    margin: 0px;
}
.line1,.line2{
    background-color: black;
    height: 0.025rem;
    width: 3.63rem;
    border-radius: 0.06rem;
    z-index: -2;
    margin-left: -2.5vw;
}
.line1 {
    box-shadow: +9px -7px 3px rgba(0, 0, 0, 0.249);
   position: absolute;
   bottom: 0.25rem;
}

.line2 {
    box-shadow: +9px +7px 3px rgba(0, 0, 0, 0.249);
}

#ourServices {
    display: flex;
    width: 78%;;
    margin: 0px auto 0px auto;
    padding-top: 0.9rem;
}

.viewServicesButton {
    background-color: black;
    font-size: 0.11rem;
    height: 0.302rem;
    width: 1.05rem;
    text-align: center;
    color: white;
    border-radius: 0.04rem;
    padding-left: 0.08rem;
    margin: 0px;
    cursor: pointer;
    outline: none;
    overflow: hidden;
    position: relative;
}

.hoverViewServicesButtonText {
    color: var(--secondary-text-color);
    transition: 0.2s ease-out;
}

.hoverViewServicesButtonText:hover {
    font-size: 0.1125rem;
}
.viewServicesButton::before {
    content: '';
    position: absolute;
    top: 0;
    left: -20%;
    width: 10%;
    height: 100%;
    background-color: whitesmoke;
    transform: skewX(-25deg);
    transition: all 0.7s cubic-bezier(0.19, 1, 0.22, 1);
  }
  
  .viewServicesButton:hover::before {
    left: 110%;
  }

.left-our-services {
    width: 60%;
    padding-left: 0.13rem;
}

.right-our-services {
    width: 40%;
    text-align: right;
    margin: auto 0px auto 0px;
}
#fourth-page{
    padding-bottom:0.8rem;
}
#studio-heading {
    text-align: center;
    padding-right: 0.1rem;
}
.studioHeadingGradient{
    background: linear-gradient(0.4deg, #C8F8FF 0.35%, #19C2D9 50%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

#studio-para {
    text-align: center;
    font-size: 0.135rem;
    color: white;
    padding: 0.13rem 2.2rem 0.13rem 2.2rem;
}
#studioContainer{
    padding-top: 0.6rem;
}
.studio-collection {
    position: relative;
    height: 3.26rem;
    margin: 0.13rem auto 0px auto;
    width: 66%;
}

#left-studio-image {
    position: absolute;
    left: 0px;
    height: 3.25rem;
    width: 2.69095rem;
}

.left-rect {
    position: absolute;
    background-color: white;
    height: 2.414rem;
    width: 1.4978rem;
    left: 1.1886rem;
    top: 0.42rem;
    z-index: 1;
}

#middle-studio-image {
    position: absolute;
    left: 1.321rem;
    top: 0.55rem;
    z-index: 2;
    height: 2.1538rem;
    width: 3.89rem;
}

.right-rect {
    position: absolute;
    background-color: white;
    height: 2.414rem;
    width: 1.4978rem;
    right: 1.19rem;
    top: 0.42rem;
    z-index: 1;
}

#right-studio-image {
    position: absolute;
    right: 0px;
    height: 3.25rem;
    width: 2.69095rem;
}

.studio-collection:hover{
    #middle-studio-image {
        position: absolute;
        left: 1.19rem;
        top: 0.419rem;
        z-index: 2;
        height: 2.43rem;
        width: 4.15rem;
    }
    #left-studio-image {
        position: absolute;
        left: -0.22rem;
        top: -0.11rem;
        height: 3.47rem;
        width: 2.91095rem;
    }
    #right-studio-image {
        position: absolute;
        right: -0.22rem;
        top: -0.11rem;
        height: 3.47rem;
        width: 2.91095rem;
    }
}

.lightning {
    display: none;
}

.studio {
    display: none;
}
#fifth-page{
    padding-top: 0.4rem;
}
#statistics {
    display: flex;
    padding: 1.5rem 0px 1.1rem 0px;
    width: 90%;
    margin: -0.7rem auto 0px auto;
}

.left-stats {
    width: 52%;
    padding-top: 0rem;
    margin-top: -0.4rem;
}

.right-stats {
    width: 48%;
}
.agencyPara{
    width: 4.2rem;
    margin: 0.2rem 0rem 0.2rem 0rem;
}

.stats-up {
    display: flex;
    margin-bottom: 0.28rem;
    width: 3.73rem;
}

#stats-down-image {
    height: 2.3rem;
    width: 3.8rem;
}

.stats-rect {
    border-radius: 0.03rem;
    background-color: #2a2a2b;
    font-size: 0.105rem;
    height: 0.2rem;
    width: 0.9rem;
    text-align: center;
    align-items: center;
    padding-top: 0.072rem;
    color: white;
}

.triangle-down {
    border-left: 0.07rem solid transparent;
    border-right: 0.07rem solid transparent;
    border-top: 0.09rem solid #2a2a2b;
    margin-top: -0.002rem;
}

#left-stats-left {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 0.12rem;
}

.left-stats-left-elements {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#left-stats-right {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.left-stats-right-elements {
    display: flex;
    flex-direction: column;
    align-items: center;
}


#footer {
    padding-top: 0.3rem;
}

.footer-top {
    display: flex;
    margin-bottom: 0.1rem;
}

.footer-middle {
    display: flex;
    width: 90%;
    margin: 0 auto 0.5rem auto;
}

.footer-bottom {
    display: inline;
}

.footer-logo {
    height: 1.4rem;
    width: 1.4rem;
}

.footer-top-left {
    width: 50%;
    margin-left: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#footer-top-right-box {
    width: 50%;
    margin-right: 0.6rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.footer-top-right {
    height: 0.34rem;
    width: 1.07853rem;
    text-align: center;
    background: linear-gradient(to right, #15dfed, rgb(1, 19, 19));
    border-radius: 0.04rem;
    padding: 0.01rem  0.006rem  0.01rem  0.002rem;
position: relative;
}

#stay-button {
    background: white;
    border: none;
    border-radius: 0.04rem;
    height: 0.338rem;
    width: 1.06rem;
    text-align: center;
    cursor: pointer;
    position: absolute;
    left: 2px;
}
#stay-button:hover{
    background: linear-gradient(180deg, #90c8cf 0%, #d1d1d1 0.01%, #cacaca 51%, #99d3da 100%);
}

.stayButtonText {
    transition: 0.2s ease-out;
}

.stayButtonText:hover {
    font-size: 0.14rem;
}


h6 {
    display: inline;
    font-size: 0.13rem;
    background-image: linear-gradient(to right, #15dfed, rgb(1, 19, 19));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    background-size: 100% 100%;
}

h5 {
    font-size: 0.23rem;
}

.second-div {
    display: flex;
    flex-direction: row;
    width: 33%;
}

.third-div {
    display: flex;
    flex-direction: row;
    width: 33%;
}

.disclaimer {
    width: 34%;
    text-align: left;
}

.footer-headings {
    margin-bottom: 0.132rem;
}

.disclaimer-para {
    padding-right: 50px;
}

.disclaimer-paratext {
    font-size: 0.132rem;
    margin-bottom: 0.132rem;
}

.company {
    width: 50%;
    text-align: left;
}

.features {
    width: 50%;
    text-align: left;
}

.policy {
    width: 50%;
    text-align: left;
}

.contact {
    width: 50%;
    text-align: left;
}
.footerList li{
    font-size: 0.14rem;
    margin-bottom: 0.09rem;
}

.footer-bottom {
    display: flex;
    margin-top: 0.33rem;
    background: #2a2a2b;
    height: 0.7rem;
    padding-top: 0.1rem;
    position: relative;
}
.footer-bottom:before,.footer-bottom::after{
height: 100%;
width: 200px;
position: absolute;
 content: "";
  z-index: 2;
  top: 0;
}


.footer-bottom:before {
  left: 0;
  background: linear-gradient(to left, transparent, #505052);
}
.footer-bottom:after {
    right: 0;
    background: linear-gradient(to right, transparent, #505052);
  }
.footer-bottom-left {
    margin-left: 0.51rem;
    padding-top: 0.228rem;
}

#footer-copyright {
    font-size: 0.12rem;
    color: rgb(251, 240, 176);
   
}

.footer-bottom-right {
    margin-left: 2.4rem;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.follow-top {
    color: rgb(255, 255, 255);
    font-size: 0.11rem;
    margin: 0px 0px 0.05rem 0.15rem;
}

.follow-bottom {
    display: flex;
}

.socialmediaicon {
    margin-left: 0.14rem;
    height: 0.33rem;
    width: 0.33rem;
    position: relative;
}

.socialmedia {
    height: 0.33rem;
    width: 0.33rem;
    position: absolute;
    top: 0;
}

.hover-socialmediaicon {
    transition: transform 2s ease-in-out;
    display: inline-block;
}

.socialmediaicon:hover {
    transform: scale(1.3);
}